.github_content {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.github_content_container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.repo_container {
    margin-bottom: 2rem;
    width: 55%;
    margin: 0 auto;
}