.repo_container {
    display: flex;
    flex-direction: column;

    h1 {
        color: royalblue;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        margin-top: 2rem;
    }

    h3 {
        color: silver;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}

.repo {
    margin-bottom: 0.6rem;
    border-bottom: 0.2px solid rgb(214, 207, 207);
}

.info_container {
    display: flex;
    justify-content: space-between;
}

.count_info {
    font-size: 0.9rem;
    font-weight: 700;

    span {
        font-weight: 400;
    }
}

.clear_btn {
    padding: 0.5rem 1rem;
    background-color: slategrey;
    cursor: pointer;
    border: 0.8px solid rgb(214, 207, 207);
}