.search {
    padding: 8px;
    border-radius: 4px;
    padding-right: 20rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    border: 0.8px solid rgb(214, 207, 207);

}

.input_container {
    display: flex;
    font-size: 1.5rem;
    margin-right: 1rem;
}